body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3px;
  background: black;
  color: white;
}
.navbar ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

.btn {
  background: #ff9800;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 15px;
  cursor: pointer;
}
.hero-button {
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 15px;
  cursor: pointer;
}
